@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header{
    display: flex;
    background-color: slateblue;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color:  #FFFFFF;
}
header img{
    margin-left: 200px;
    width: 556px;
    height: 338px;
}
h1{
    width: 60%;
}
.anchor{
    background-color: #E02C6D;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.Top-Players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Players{
    border: 10px solid rgb(248, 242, 242);
   
    margin: 20px 50px;
    box-shadow: 50px 50px 50px whitesmoke; 
   
}
.image{
    width: 331px;
    height: 282px;
}
footer{
    text-align: center;
}