@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header{
    display: flex;
    background-color: slateblue;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color:  #FFFFFF;
    margin-bottom: 40px;
}
header img{
    margin-left: 200px;
    width: 556px;
    height: 338px;
}
h1{
    width: 60%;
    margin-bottom: 60px;
    margin-top: 60px;
}
.anchor{
    background-color: #E02C6D;
    width: 150px;
    padding: 10px 10px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.Top-Players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0%;
}

.Players{
    border: 10px solid whitesmoke;
   
    text-align: justify;

}
.paragraph{
    padding-right: 50px;
}
.image{
    width: 380px;
    height: 282px;
}
p{
    color: rgb(87, 86, 86);
}
h3{
    font-size: 30px;
    color: rgb(10, 10, 71);
}
.layout{
    display: flex;
}
.flex{
    display: flex;
}

.flex img{
    width:400px;
    height: 350px;
    transition: transform 0.5s ease-out;
    
}
.flex img:hover{
    transform: scale(1.2);
}
.flex2{
    background-image: linear-gradient(darkblue, rgb(11, 52, 238));
    margin-bottom: 4px;
    padding-left: 20px;
    padding-right: 10px;
    
}

.flex2 h2{
    color:rgb(255, 255, 255);
}
.flex2 p{
    color: wheat;
    
}
.padding{
    padding-left: 30px;
}
.fa-circle-chevron-right{
    padding-left: 20px;
    padding-top: 40px;
}
.fafa{
    padding-left: 200px;
    padding-top: 200px;
}
.fa-brands{
    padding-right: 20px;
    color:rgb(4, 190, 190);
}

.icon{
    padding-top: 30px;
    padding-bottom: 10px;
}
footer{
    text-align: center;
}
footer img{
    width:400px;
    height:200px;
    margin-top: 100px;
}